.todayData {
  width: 22rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  background-image: url(../Images/Cloud-background.png);
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .todayData {
    width: 100%;
  }
}
